<script>
import {
  mdiAccountCowboyHat, mdiAccountGroup, mdiCodeJson, mdiXml, mdiPlus, mdiMagnify, mdiClose,
  mdiTree, mdiLeaf, mdiWeb
} from '@mdi/js'


export default {
  name: "AlgorithmList",
  props: ['settings', 'service'],
  data() {
    return {
      loading: false,
      search: '',
      svg: {
        mdiAccountCowboyHat,
        mdiAccountGroup,
        mdiCodeJson,
        mdiXml,
        mdiPlus,
        mdiMagnify,
        mdiClose,
        mdiTree,
        mdiLeaf,
        mdiWeb
      },
      own_list: ['all', 'base', 'custom', 'personal'],
      own: 'all',
      headers: [
        {
          align: 'start',
          value: 'name',
          width: 95
        },
        {
          value: 'personal',
          align: 'center',
        },
        {
          value: 'custom',
          align: 'center',
        },
        {
          value: 'base',
          align: 'center'
        },
        {
          value: 'file_type',
          align: 'center'
        },
      ],
      items: []
    }
  },
  computed: {
    uid: function () {
      return `${this.settings.Service}-${this.settings.id}`
    }
  },
  watch: {
    uid: function () {
      this.algorithmList()
    },
    own: function (value) {
      let params
      switch (value) {
        case 'all':
          params = {Algorithm_Own: null}
          break
        default:
          params = {AlgorithmOwn: value.toLowerCase()}
      }
      this.algorithmList(params)
    },
  },
  methods: {
    algorithmList: async function (params) {
      this.loading = true
      try {
        this.items = await this.service.algorithmList(Object.assign({}, this.settings, params))
      } catch (err) {
        this.items = []
      } finally {
        this.loading = false
      }
    },
    create: async function () {
      this.$emit('create', this.search)
    },
    onSelect: function (item, data, event, own) {

      let params = {
        name: item.name,
        file_type: item.file_type,
      }
      if (own) {
        params['own'] = own
      } else {
        switch (this.own) {
          case 'all':
            params['own'] = undefined
            break
          case 'base':
            params['own'] = item.base
            break
          default:
            params['own'] = this.own
        }
      }
      this.$emit('select', params)
    }
  },
  beforeMount() {
    this.algorithmList({AlgorithmOwn: null})
  }
}
</script>

<template>
  <v-card
      class="pa-0 ma-0"
      height="100vh"
      @keydown.esc.stop="$emit('cancel')"
  >
    <v-toolbar
        dense
        flat
        rounded="0"
        class="toolbar-padding-0"
    >
      <v-toolbar-title>Load</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field
          v-model="search"
          dense
          append-icon="mdi-magnify"
          single-line
          hide-details
          autofocus
          class="pl-2 pr-2"
      >
        <template v-slot:append>
          <v-icon
              v-if="search"
              @click="create"
              title="Создать новую"
          >{{ svg.mdiPlus }}
          </v-icon>
          <v-icon>
            {{ svg.mdiMagnify }}
          </v-icon>
        </template>
      </v-text-field>
      <v-select
          v-model="own"
          :items="own_list"
          label="Own"
          dense
          single-line
          hide-details
          style="width: 75px"
      ></v-select>
      <v-toolbar-items>
        <v-btn
            icon
            @click="$emit('cancel')"
        >
          <v-icon>{{ svg.mdiClose }}</v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-data-table
        :headers="headers"
        :items="items"
        :search="search"
        :loading="loading"
        item-key="_id"
        disable-pagination
        disable-sort
        hide-default-header
        hide-default-footer
        dense
        height="calc(100vh - 48px)"
        @click:row="onSelect"
    >
      <template v-slot:[`item.name`]="{ item }">
        <div
            :title="item.name"
        >{{
            item.name.length > 40 ?
                `${item.name.substr(0, 13)}......${item.name.substr(-25)}` : item.name
          }}
        </div>
      </template>
      <template v-slot:[`item.personal`]="{ item }">
        <td class="pa-0 cellIcon">
          <v-icon
              v-if="item.personal"
              small
              dense
              title="personal"
              @click:row="onSelect(item, 'personal')"
          >{{ svg.mdiAccountCowboyHat }}
          </v-icon>
        </td>
      </template>
      <template v-slot:[`item.custom`]="{ item }">
        <td class="pa-0 cellIcon">
          <v-icon
              v-if="item.custom"
              small
              dense
              title="custom"
              @click.stop="onSelect(item, undefined, $event, 'custom')"
          >{{ svg.mdiAccountGroup }}
          </v-icon>
        </td>
      </template>
      <template v-slot:[`item.base`]="{ item }">
        <td class="pa-0 cellIcon">
          <v-icon
              v-if="item.base === 'standard' || item.base === 'base'"
              small
              dense
              :title="item.base"
              @click.stop="onSelect(item, undefined, $event, item.base)"
          >{{ svg.mdiLeaf }}
          </v-icon>
          <v-icon
              v-if="item.base === 'system'"
              small
              dense
              :title="item.base"
              @click.stop="onSelect(item, undefined, $event, item.base)"
          >{{ svg.mdiTree }}
          </v-icon>
          <v-icon
              v-if="item.base === 'global'"
              small
              dense
              :title="item.base"
              @click.stop="onSelect(item, undefined, $event, item.base)"
          >{{ svg.mdiWeb }}
          </v-icon>
        </td>
      </template>
      <template v-slot:[`item.file_type`]="{ item }">
        <td class="pa-0 cellIcon">
          <v-icon
              v-if="item.file_type === 'xml'"
              small
              dense
              title="xml"
          >{{ svg.mdiXml }}
          </v-icon>
          <v-icon
              v-if="item.file_type === 'json'"
              small
              dense
              title="json"
          >{{ svg.mdiCodeJson }}
          </v-icon>
        </td>
      </template>
    </v-data-table>
  </v-card>

</template>


<style lang="scss">
.toolbar-padding-0 {
  .v-toolbar__content {
    padding-right: 0;
  }

}

.cellIcon {
  width: 20px;
}

</style>