<script>

import {
  mdiAccountCowboyHat, mdiAccountGroup, mdiCodeJson, mdiXml, mdiWeb, mdiTree, mdiLeaf
} from "@mdi/js";


export default {
  name: "AlgorithmName",
  props: ['name', 'own', 'base', 'fileType'],
  data() {
    return {
      svg: {
        mdiWeb, mdiTree, mdiLeaf, mdiAccountCowboyHat, mdiAccountGroup, mdiCodeJson, mdiXml
      }
    }
  },
  computed: {
    baseIcon: function () {
      switch (this.base) {
        case 'global':
          return 'mdiWeb'
        case 'system':
          return 'mdiTree'
        case 'base':
          return 'mdiLeaf'
        case 'standard':
          return 'mdiLeaf'
        default:
          return undefined
      }
    },
    ownIcon: function () {
      switch (this.own) {
        case 'global':
          return 'mdiWeb'
        case 'system':
          return 'mdiTree'
        case 'base':
          return 'mdiLeaf'
        case 'standard':
          return 'mdiLeaf'
        case 'custom':
          return 'mdiAccountGroup'
        case 'personal':
          return 'mdiAccountCowboyHat'
        default:
          return 'mdiLeaf'
      }
    },
    typeIcon: function () {
      switch (this.fileType) {
        case 'xml':
          return 'mdiXml'
        case 'json':
          return 'mdiCodeJson'
        default:
          return undefined
      }
    }
  },
}
</script>

<style lang="scss">
</style>

<template>
  <v-text-field
      :value="name"
      label="ini"
      hide-details
      single-line
      dense
      :append-icon="svg[ownIcon]"
      @change="$emit('change', $event)"
  >
    <template v-slot:append>
      <v-icon
          v-if="ownIcon"
          class="pl-1"
          :title="own"
      >
        {{ svg[ownIcon] }}
      </v-icon>
      <v-icon
          v-if="baseIcon && baseIcon!==ownIcon"
          class="pl-1"
          :title="base"
      >
        {{ svg[baseIcon] }}
      </v-icon>
      <v-icon
          class="pl-1"
          :title="`file type ${fileType}`"
      >
        {{ svg[typeIcon] }}
      </v-icon>
    </template>
  </v-text-field>
</template>