<script>

export default {
  name: "BlocklyEditorSettings",
  props: ['value', 'visible', 'appName'],
  data() {
    return {
    }
  },
  watch: {
  },
  computed: {
  },
  methods: {
  }
}
</script>

<template>
  <v-card
      class="pa-4"
      width="400"
  >
    <v-text-field
        v-model="local.Endpoint"
        label="Endpoint"
    ></v-text-field>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
          color="primary"
          text
          @click="$emit('input', local)"
      >
        Update
      </v-btn>
    </v-card-actions>
  </v-card>
</template>


<style scoped>

</style>