<script>
/**
 * @license
 *
 * Copyright 2019 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * @fileoverview Blockly Vue Component.
 * @author samelh@google.com (Sam El-Husseini)
 */

import Blockly from 'blockly';

export default {
  name: 'BlocklyComponent',
  props: {
    options: {
      type: Object
    },
    lang: {
      type: String,
      default: 'ru'
    }
  },
  data() {
    return {
      workspace: null,
      options_: {}
    }
  },
  mounted() {
    console.log('mounted')
    this.options_ = Object.assign({}, this.options)
    if (!this.options_.toolbox) {
      this.options_.toolbox = this.$refs["blocklyToolbox"];
    }
    // this.initLang()
    this.workspace = Blockly.inject(this.$refs["blocklyDiv"], this.options_);
    this.workspace.addChangeListener(this.onWorkspaceEvent)
    this.setTheme()
    this.$emit('onWorkspaceEvent', {type: 'mounted'})
  },
  beforeDestroy() {
    Blockly.registry.unregister('theme', 'saby');
  },
  methods: {
    onWorkspaceEvent(event) {
      this.$emit('onWorkspaceEvent', event)
    },
    setTheme: function () {
      if (this.options.theme) {
        // Blockly.registry.unregister('theme', 'saby');
        const theme = Blockly.Theme.defineTheme('saby', {
            'base': Blockly.Themes.Classic,
            blockStyles: {...this.options.theme}
        })
        this.workspace.setTheme(theme)
      }
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.blocklyDiv {
  height: 100%;
  width: 100%;
  /*margin-top: 100px;*/
  text-align: left;
}
.blocklyToolboxContents[role="group"] {
  display: none;
}
</style>

<template>
  <div>
    <div class="blocklyDiv" ref="blocklyDiv">
    </div>
    <div ref="blocklyToolbox" style="display:none">
      <slot></slot>
    </div>
  </div>
</template>
