<template>
    <v-btn
            v-if="navigator.clipboard"
            icon
            @click="copyTextToClipboard(value)"
    >
        <v-icon>{{svg.mdiContentCopy}}</v-icon>
    </v-btn>
</template>

<script>
    import {mdiContentCopy} from "@mdi/js";

    export default {
        name: "CopyTextToClipboard",
        props: ["value"],
        data() {
            return {
                svg: {
                    mdiContentCopy,
                }
            }
        },
        async beforeMount() {
        },
        methods: {
            fallbackCopyTextToClipboard: function (text) {
                var textArea = document.createElement("textarea");
                textArea.value = text;

                // Avoid scrolling to bottom
                textArea.style.top = "0";
                textArea.style.left = "0";
                textArea.style.position = "fixed";

                document.body.appendChild(textArea);
                textArea.focus();
                textArea.select();

                try {
                    let successful = document.execCommand('copy');
                    let msg = successful ? 'successful' : 'unsuccessful';
                    console.log('Fallback: Copying text command was ' + msg);
                } catch (err) {
                    console.error('Fallback: Oops, unable to copy', err);
                }

                document.body.removeChild(textArea);
            },

            copyTextToClipboard: function (text) {
                if (!navigator.clipboard) {
                    this.fallbackCopyTextToClipboard(text);
                    return;
                }
                navigator.clipboard.writeText(text).then(function () {
                    console.log('Async: Copying to clipboard was successful!');
                }, function (err) {
                    console.error('Async: Could not copy text: ', err);
                });
            }
        }
    }
</script>

<style scoped>

</style>