<script>
import {
  mdiPlus, mdiMinus, mdiCursorMove, mdiPencil
} from "@mdi/js";
import {hideChanges} from "./BlocklyEditorWorkspace";


export default {
  name: "ChangesTab",
  props: ['gluerResult', 'debugContext', 'debugVariables', 'active', 'blocklyRef'],
  data() {
    return {
      svg: {
        mdiPlus, mdiMinus, mdiCursorMove, mdiPencil
      },
      headers: [
        {value: 'type', width: 96},
        {value: 'changed', width: 1, align: 'center', cellClass: ["pa-0"]},
        {value: 'new', width: 1, align: 'center', cellClass: ["pa-0"]},
        {value: 'moved', width: 1, align: 'center', cellClass: ["pa-0"]},
        {value: 'data-table-expand', width: 1, cellClass: ["pa-0"]}
      ],
      currentChange: undefined,
      selected: [],
    }
  },
  methods: {
    showChanges: function () {
      this.hideChanges()
      const changes = this.gluerResult ? this.gluerResult['changes'] || [] : []
      changes.forEach((change) => {
        let blockNode = this.getBlockNode(change.id)
        if (blockNode) blockNode.classList.add('gluerChange')
      })
    },
    hideChanges: function () {
      hideChanges(this.blocklyRef)
      // Array.from(this.blocklyRef.$el.getElementsByClassName('gluerChange')).forEach(
      //     (el) => el.classList.remove('gluerChange', 'gluerCurrentChange')
      // );
    },
    getBlockNode: function (blockId) {
      return this.blocklyRef.$el.querySelector(`[data-id="${blockId}"]`)
    },
    onClickRow: function (row) {
      if (this.currentChange === row.id) {
        let blockNode = this.getBlockNode(this.currentChange)
        if (blockNode) {
          blockNode.classList.remove('gluerCurrentChange')
        }
        this.currentChange = undefined
        this.selected = []
      } else {
        Array.from(this.blocklyRef.$el.getElementsByClassName('gluerCurrentChange')).forEach(
            (el) => el.classList.remove('gluerCurrentChange')
        );
        let blockNode = this.getBlockNode(row.id)
        if (blockNode) {
          blockNode.classList.add('gluerCurrentChange')
          this.currentChange = row.id
          this.selected = [row]
          this.blocklyRef.workspace.centerOnBlock(this.currentChange)
        }

      }
    }
  },
  watch: {
    active(new_value) {
      if (new_value) {
        this.showChanges()
      } else {
        this.hideChanges()
      }
    },
    gluerResult() {
      if (this.active) {
        this.showChanges()
      }
    }
  },
  beforeMount() {
    if (this.active) {
      this.showChanges()
    }
  }
}
</script>

<style lang="scss">
</style>

<template>
  <v-container class="px-0 overflow-y-auto">
    <v-data-table
        v-model="selected"
        :headers="headers"
        :items="gluerResult.changes"
        dense
        selectable-key="id"
        hide-default-footer
        hide-default-header
        disable-pagination
        disable-sort
        show-expand
        single-select
        class="compareTable"
        @click:row="onClickRow"
    >
      <template v-slot:[`item.type`]="{ item }">
        <span :title="item.id">{{ item.type }}</span>

      </template>
      <template v-slot:[`item.changed`]="{ item }">
        <v-icon
            v-if="item.changed && !item.new && !item.delete"
            small
            dense
        >{{ svg.mdiPencil }}
        </v-icon>
      </template>
      <template v-slot:[`item.new`]="{ item }">
        <v-icon
            v-if="item.new"
            small
            dense
            color="green darken-2"
        >{{ svg.mdiPlus }}
        </v-icon>
        <v-icon
            v-if="item.delete"
            small
            dense
            color="red darken-2"
        >{{ svg.mdiMinus }}
        </v-icon>

      </template>
      <template v-slot:[`item.moved`]="{ item }">
        <v-icon
            v-if="item.parent && !item.new && !item.delete"
            small
            dense
            color="blue darken-2"
        >{{ svg.mdiCursorMove }}
        </v-icon>

      </template>
      <template v-slot:expanded-item="{ headers, item }">
        <td :colspan="headers.length" class="pa-0">
          <!--          <v-card-->
          <!--              v-if="item.change_fields"-->
          <!--              flat-->
          <!--              class="pl-4"-->
          <!--              color="#fafafa"-->
          <!--              rounded="0"-->
          <!--          >-->
          <v-container
              v-if="item.change_fields"
              class="pa-0 pl-4"
          >
            <div class="caption">Изменились поля:</div>
            <div
                v-for="(value, name) in item.change_fields"
                :key="name"
                class="caption pl-2"
            ><span>{{ name }}</span> <span>{{ value[1] }}</span> -> <span>{{ value[0] }}</span></div>
          </v-container>
          <!--          </v-card>-->
        </td>
      </template>
    </v-data-table>
  </v-container>
</template>