<script>
    import {
        mdiApplicationExport,
        mdiApplicationImport, mdiClose,
        mdiContentSave, mdiEraserVariant,
        mdiMathLog, mdiPlay,
        mdiSpider,
        mdiStepForward, mdiStop
    } from "@mdi/js";
    import TooltipViewer from "./TooltipViewer";

    export default {
      name: "CommandLogPanel",
      components: {TooltipViewer},
      props: ['log', 'value'],
        data() {
            return {
                svg: {
                    mdiApplicationImport, mdiApplicationExport, mdiContentSave,
                    mdiMathLog, mdiStepForward, mdiSpider, mdiPlay, mdiEraserVariant, mdiClose, mdiStop
                }
            }
        },
      computed: {
          items() {
            return this.log.reduce((arr, item) => {
              arr.push({
                name: item.action,
                value: item.data
              })
              return arr
            }, [])
          }
      }
    }
</script>

<template>
  <v-treeview
      dense
      :items="items"
  >
    <template v-slot:label="{item}">
      <TooltipViewer :item="item"></TooltipViewer>
    </template>
  </v-treeview>
</template>