<script>
import CommandLogTab from "./CommandLogTab";
import DebugTab from "./DebugTab";
import ChangesTab from "./ChangesTab";
import {mdiEraserVariant, mdiRefresh} from '@mdi/js'

export default {
  name: "DebugPanel",
  props: ["debugPanelVisible", "context", "result", "current_variables", "log", "gluerResult", "blocklyRef"],
  data() {
    return {
      debugPanelTab: this.context.debug_mode ? 2 : 0,
      svg: {
        mdiEraserVariant, mdiRefresh
      },
    }
  },
  watch: {
    debugPanelVisible(new_value) {
      if (this.context.debug_mode && new_value)
        this.debugPanelTab = 2
    }
  },
  components: {
    CommandLogTab,
    DebugTab,
    ChangesTab
  },
}
</script>

<template>
  <v-navigation-drawer
      v-if="debugPanelVisible"
      permanent
      width="550"
  >
    <v-tabs
        v-model="debugPanelTab"
        class="overflow-hidden"
    >
      <v-tab>Log</v-tab>
      <v-tab>Changes</v-tab>
      <v-tab v-if="context.debug_mode">Debug</v-tab>
      <v-toolbar
          flat
          dense
          class="editor-toolbar overflow-hidden"
      >
        <v-spacer></v-spacer>
        <v-toolbar-items>

          <v-btn
              v-if="debugPanelTab===0"
              icon
              @click="$emit('clearLog')"
          >
            <v-icon>{{ svg.mdiEraserVariant }}</v-icon>
          </v-btn>
          <v-btn
              v-if="debugPanelTab===1"
              icon
              @click="$emit('updateChanges')"
          >
            <v-icon>{{ svg.mdiRefresh }}</v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
    </v-tabs>
    <v-tabs-items v-model="debugPanelTab" class="editor-toolbar">
      <v-tab-item>
        <CommandLogTab
            :log="log"
            style="height: calc(100vh - 48px);"
        ></CommandLogTab>
      </v-tab-item>
      <v-tab-item>
        <ChangesTab
            :gluer-result="gluerResult"
            :active="debugPanelTab===1"
            :blocklyRef="blocklyRef"
            class="mb-3"
            style="height: calc(100vh - 48px);"
        >
        </ChangesTab>
      </v-tab-item>
      <v-tab-item v-if="context.debug_mode">
        <DebugTab
            :debug-context="result"
            :debug-variables="current_variables"
            class="mb-3"
            style="height: calc(100vh - 48px);"
        >
        </DebugTab>
      </v-tab-item>

    </v-tabs-items>
  </v-navigation-drawer>
</template>

<style scoped>

</style>