<script>
import Blockly from "blockly";
import {
  mdiMagnify, mdiClose
} from '@mdi/js'


export default {
  name: "AlgorithmList",
  props: ["value"],
  data() {
    return {
      loading: false,
      workspace: undefined,
      search: '',
      svg: {
        mdiMagnify,
        mdiClose,
      },
      headers: [
        {
          align: 'start',
          value: 'name',
          width: 100
        },
      ],
      items: []
    }
  },
  computed: {
  },
  watch: {
    value: function (value) {
      if (value) {
        this.readFunctionList()
      }
    }
  },
  methods: {

    readFunctionList: function () {
      this.loading = true
      this.items = []
      let procedures = Blockly.procedures.allProcedures(this.workspace)
      procedures.forEach((item)=>{
        item.forEach((proc)=>{
          this.items.push({name:proc[0]})
        })
      })
      this.items.sort(function(a, b) {
        return a.name > b.name? 1: -1;
      });
      this.loading = false
    },
    onSelect: function (event) {
      let procedure = Blockly.procedures.getDefinition(event.name, this.workspace)
      this.workspace.centerOnBlock(procedure.id)
      this.$emit('input', false)
    }
  },
  beforeMount() {
    this.workspace = Blockly.getMainWorkspace()
    this.readFunctionList()
  }
}
</script>

<template>
  <v-card
      class="pa-0 ma-0"
  >
    <v-toolbar
        dense
        flat
        rounded="0"
        class="toolbar-padding-0"
    >
      <v-toolbar-title>Functions</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field
          v-model="search"
          dense
          :append-icon="svg['mdiMagnify']"
          single-line
          hide-details
          autofocus
          style="max-width: 100px"
          class="pl-2 pr-2"
          max-width="60"
      >
      </v-text-field>
      <v-toolbar-items>
        <v-btn
            icon
            @click="$emit('input', false)"
        >
          <v-icon>{{ svg.mdiClose }}</v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-data-table
        :headers="headers"
        :items="items"
        :search="search"
        sort-by="name"
        :loading="loading"
        item-key="_id"
        disable-pagination
        disable-sort
        hide-default-header
        hide-default-footer
        fixed-header
        dense
        height="300px"
        @click:row="onSelect"
    >
    </v-data-table>
  </v-card>
</template>


<style lang="scss">
.toolbar-padding-0 {
  .v-toolbar__content {
    padding-right: 0;
  }

}

.cellIcon {
  width: 20px;
}

</style>