<script>
import {
    mdiClose, mdiContentCopy
} from '@mdi/js'
import {copyTextToClipboard, isEmptyObject} from "bubot-helpers/BaseHelper"

export default {
    name: "ResultViewer",
    props: ['value', 'result'],
    data() {
        return {
            svg: {
                mdiClose,
                mdiContentCopy
            }
        }
    },
    computed: {
        hasDump() {
            return this.value === 'error' && this.result && !isEmptyObject(this.result.dump)
        },
        simpleError() {
            if (this.value==='error') {
              return typeof this.result === 'string'
            }
            return false

        },
        errorMessage() {
          if (this.value==='error') {
            return this.simpleError?this.result:this.result.message?this.result.message:this.result.__name__
          }
          return ''
        }
    },
    methods: {
        copy: function () {
            copyTextToClipboard(JSON.stringify(this.result, null, ' ', 4), '#error-container')
        }
    }
}
</script>

<template>
    <v-dialog
        max-width="600px"
        :value="value && value!=='run'"
        @click:outside="$emit('input','')"
    >
        <v-card v-if="value==='error'">
            <v-toolbar
                color="error"
                dark
                flat
                dense
                class="pr-0"
            >
                <v-toolbar-title>
                    <div
                        class="text-body-1 font-weight-bold"
                        :title="errorMessage"
                    >{{errorMessage}}
                    </div>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items class="pr-0">
                    <v-btn
                        icon
                        @click.stop="copy"
                    >
                        <v-icon>{{svg.mdiContentCopy}}</v-icon>
                    </v-btn>
                    <v-btn
                        icon
                        @click.stop="$emit('input','')"
                    >
                        <v-icon>{{svg.mdiClose}}</v-icon>
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-card-text class="pa-3" id="error-container">
                <div v-if="result.detail" class="text-body-1 pb-3">{{result.detail}}</div>
                <div v-if="hasDump" class="text-caption">dump: {{JSON.stringify(result.dump, null, 4)}}</div>
                <div
                    v-if="result.stack2 && result.stack2.length"
                    class="text-caption">
                    Stack:
                    <div
                        v-for="(item, index) in result.stack2"
                        :key="index"
                    >
                        <li>{{JSON.stringify(item, null, 4)}}</li>
                    </div>
                </div>
                <div
                    v-else-if="!result.stack2 && result.stack.length"
                    class="text-caption">
                    {{result.stack}}
                </div>
            </v-card-text>
        </v-card>
        <v-card v-else>
            <v-toolbar
                color="primary"
                dark
                dense
            >
                <v-toolbar-title>{{value}}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn
                        icon
                        @click="$emit('input','')"
                    >
                        <v-icon>{{svg.mdiClose}}</v-icon>
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
        </v-card>
    </v-dialog>
</template>


<style lang="scss">
    .v-toolbar__content {
        padding-right: 0;
    }
</style>